body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#videoElement {
  width: 600px;
  height: 400px;

}
#userInput {
  width: 1024px;
  height: 800px;

}
#motion {
  width: 1024px;
  height: 100px;

}
#cameraMotion {
  width: 1024px;
  height: 100px;

}
